<ion-view title="What bring you in today?">
  <ion-content class="padding">
    
    <!-- <button id="button" ng-click="doSomething()" ion-button large>Meet with Associate</button></br> -->
    
    <ion-nav-buttons >
      <a href="https://th3ms.herokuapp.com/#/tab/dash">
      <button class="button">
        Events/Promotion
      </button>
      </a>
  </ion-nav-buttons>
    <button id="button" ion-button large>Events/Promotion</button></br>
    
    <button id="button" ion-button large>After sale issue</button></br>
    
    <button id="button" ion-button large>Inventory/Price Check</button></br>
  
    
    <button id="button" ion-button large>Browsing Selection</button></br>
  
  </ion-content>
</ion-view>
