<ion-content>
  <div class= "personcontainer">
          
              <!-- this will be erase data will be inserted dynamically -->
              <ion-card>
          
                  <ion-card-content>
                    <h1>Client Interest:</h1>
                      Shoes
                  <p> </p>
                   <h1> Name: </h1>
                      Mateo Sixtos
                   <h1> Date of Birth: </h1>   
                       July 7 19995
                   <p>  </p>
          
                    <h1>Reason for visit:</h1>
                      Associate help

                      <h1>Type</h1>
                      New Client
                  </ion-card-content>
          
              </ion-card>

              <ion-card>
          
                  <ion-card-content>
                    <h1>Client Interest:</h1>
                     Accessory
                  <p> </p>
                   <h1> Name: </h1>
                      Marliz
                   <h1> Date of Birth: </h1>   
                       July 7 1999
                   <p>  </p>
          
                  <h1>Reason for visit:</h1>
                      Gift
                  <p>  </p>
                  <h1>Type</h1>
                      Aspiring client
                  <p>  </p>  
                  <h1>Shopping History</h1>
                  <p>  </p>
                      <h2>Date of purchase:</h2>
                          09/06/2017
                      <h2>Store number:</h2> 
                          1134
                      <h2>Price Point:</h2>
                          1,100
                      <h2>Product Ref#:</h2>
                          H242850S01
                      <h2>Image:</h2>

                  </ion-card-content>


                  
          
              </ion-card>


                
          
  </div>


</ion-content>
