<ion-view title="What bring you in today?" name="today">
  <ion-content class="padding" ng-controller="PopupCtrl">
    
    <button id="button" ng-click="go('/settings')" ion-button large>Meet with Associate</button></br>
    
    <button id="button" ion-button large>Events/Promotion</button></br> 
    
    <button id="button" ion-button large>After sale issue</button></br>
    
    <button id="button" ion-button large>Inventory/Price Check</button></br>
  
    
    <button id="button" ion-button large>Browsing Selection</button></br>
  
  </ion-content>
</ion-view>
