<ion-view title="Select image">
  <ion-content>
    <!-- <ion-list>
      <ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        {{friend.name}}
      </ion-item>
    </ion-list> -->
    <div class="ImageContainer">
    
    <img class="img_item" src="../../img/Men/men_accessory.jpg"/>
    <img class="img_item" src="../../img/Men/men_clothing.jpg"/>
    <img class="img_item" src="../../img/Men/men_fragrance.jpg"/>
    <img class="img_item" src="../../img/Men/men_shoes.jpg"/>
    

  


    </div>
  </ion-content>
</ion-view>
