<ion-view title="Which Universal category interests you most?">
  <ion-content>
    <!-- <ion-list>
      <ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
        {{friend.name}}
      </ion-item>
    </ion-list> -->
    <div class="ImageContainer">
    <a href="https://th3ms.herokuapp.com/#/tab/account">
    <img class="img_item" src="../../img/Men/men_accessory.jpg" height="280px" width="280px"/>
    </a>
    <a href="https://th3ms.herokuapp.com/#/tab/account" height="280px" width="280px">
    <img class="img_item" src="../../img/Men/men_clothing.jpg" height="280px" width="280px"/>
    </a>
    <a href="https://th3ms.herokuapp.com/#/tab/account" height="280px" width="280px">
    <img class="img_item" src="../../img/Men/men_fragrance.jpg" height="280px" width="280px"/>
    </a>
    <a href="https://th3ms.herokuapp.com/#/tab/account">
    <img class="img_item" src="../../img/Men/men_shoes.jpg" height="280px" width="280px"/>
    </a>
    

  


    </div>
  </ion-content>
</ion-view>
